html,
body {
  background-color: #191919;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  color: white;
}

p {
  color: gray;
}